<section class="">

<form action="/result" method="get">
  <label for="name">Github username:</label>
  <input type="text" id="name" name="name"><br><br>
  <label for="name">Dog breed:</label>
  <select name="breed">
    <%= for item <- @data["breeds"] do%>
    <option><%= item %></option>
    <% end %>
  </select>
  <input type="submit" value="Submit">
</form>

</section>
